In [12]:

import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [13]:
felony_counts = '../SQL_Analysis/outputs/felony_counts.csv'
felony_severity = '../SQL_Analysis/outputs/felony_severity.csv'


counts_df = pd.read_csv(felony_counts)
severity_df = pd.read_csv(felony_severity)

In [14]:
counts_df

   court_district  charges_1_3  charges_4_6  charges_7_9  charges_10plus
0               1         2891         1174          298             238
1               2        11741         3476          597             360
2               3        31804         9747         1968            1051
3               4         8358         3243          705             409
4               5         5952         2326          628             276
5               6         2028          808          191             104
6               7         2043          915          222              99
7               8         2462          929          197             107